@font-face {
    font-family: freedom-font;
    src: url(../../assets/fonts/Steiner-W01-Special.ttf);
}

Body {
    background-color: #58355E;
}

.container {
    margin: auto;
    max-width: 600px;
    font-family: freedom-font;
    text-align: center;
}

.heading {
    color: #FFF689;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-text-stroke: 2px #342038;
}

.heading2 {
    font-family: freedom-font;
    color: #FFF689;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: auto;
    -webkit-text-stroke: 1px #342038;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    
}
.socialLinks {
    display: flex;
    justify-content: right;
    list-style: none;
    position:absolute;
    bottom: 0;
    right: 0;
}
.nav-link-item {
    color: white;
}
.nav-link-text {
    color: white;
    text-decoration: none;
}
.nav-link-text:hover {
    color: #FFF689;
    font-size: 1.5rem !important;
}

.socialIcon {
    margin-top: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: 1080px;
    }

    .heading {
        font-size: 7.5rem;
        -webkit-text-stroke: 6px #342038;
    }

    .nav-link-item {
        font-size: 2rem;
    }
}